╔═══════════════════════════╗
║ <header>{{ "{:^25}".format("Results") }}</header> ║
╚═══════════════════════════╝

{# new line #}
<header>SUMMARY</header>
==================
<key>Total Rules</key>: <value>{{stats.total_rules}}</value>
<key>Total Queries</key>: <value>{{stats.total_queries}}</value>
<key>Total Messages</key>: <value>{{stats.total_messages}}</value>

<key>Flagged Rules</key>: <value>{{stats.flagged_rules}}</value>
<key>Flagged Messages</key>: <value>{{stats.flagged_messages}}</value>

{%- if rules|length > 0 %}
{# new line #}
{# new line #}
  <header>Rules Run</header>
  ------------------
  {%- for rule in rules %}
    - {{rule.name}}
  {%- endfor %}
{%- endif %}

{%- if queries|length > 0 %}
{# new line #}
{# new line #}
  <header>Queries Run</header>
  ------------------
  {%- for query in queries %}
    - {{query.name}}
  {%- endfor %}
{%- endif %}



{% block body %}
{%- if flagged_messages|length > 0 %}
{# new line #}
{# new line #}
<header>FLAGGED MESSAGES</header>
==================
{%- endif %}

{%- for msg in flagged_messages %}
  {# new line #}
  <header>MESSAGE {{loop.index}}</header>
  ------------------
  {%- if msg.extension == 'mbox' %}
  <key>Subject</key>: <value>{{msg.subject}}</value>
  {%- endif%}
  <key>File Name</key>: <value>{{msg.file_name}}</value>
  <key>Directory</key>: <value>{{msg.directory}}</value>

    {# new line #}
    <header>FLAGGED RULES</header>
    {%- for rule in msg.flagged_rule_results %}
      - <detected><bold>{{rule.name}}</bold></detected>
    {%- endfor %}

    {%- if msg.normal_query_results|length > 0 %}
    {# new line #}
    <header>QUERIES</header>
    {%- for query in msg.normal_query_results %}
      {%- if query.success %}
      - <query><bold>{{ query.name }}</bold></query>
        <key>Result:</key> {{ query.result }}
      {%- else %}
      - <fail><bold>{{ query.name }}</bold></fail>
      {%- endif %}
      {# new line #}
    {%- endfor %}
    {%- endif %}

    {%- if msg.failed_rule_results|length > 0 %}
    {# new line #}
    <header>FAILED RULES</header>
    {%- for rule in msg.failed_rule_results %}
      - <fail><bold>{{ rule.name }}</bold></fail>
    {%- endfor %}
    {%- endif %}

    {%- if msg.failed_query_results|length > 0 %}
    {# new line #}
    <header>FAILED QUERIES</header>
    {%- for query in msg.failed_query_results %}
      - <fail><bold>{{ query.name }}</bold></fail>
    {%- endfor %}
    {%- endif %}
    {# new line #}
{% endfor %}



{%- if unflagged_messages|length > 0 %}
{# new line #}
<header>UNFLAGGED MESSAGES</header>
==================
{%- endif %}

{%- for msg in unflagged_messages %}
{# new line #}
  <header>MESSAGE {{loop.index}}</header>
  ------------------
  {%- if msg.extension == 'mbox' %}
  <key>Subject</key>: <value>{{msg.subject}}</value>
  {%- endif %}
  <key>File Name</key>: <value>{{msg.file_name}}</value>
  <key>Directory</key>: <value>{{msg.directory}}</value>

    {%- if msg.normal_query_results|length > 0 %}
    {# new line #}
    <header>QUERIES</header>
    {%- for query in msg.normal_query_results %}
      {%- if query.success %}
      - <query><bold>{{ query.name }}</bold></query>
        <key>Result:</key> {{ query.result }}
      {%- else %}
      - <fail><bold>{{ query.name }}</bold></fail>
      {%- endif %}
      {# new line #}
    {%- endfor %}
    {%- endif %}

    {%- if msg.failed_rule_results|length > 0 %}
    {# new line #}
    <header>FAILED RULES</header>
    {%- for rule in msg.failed_rule_results %}
      - <fail><bold>{{ rule.name }}</bold></fail>
    {%- endfor %}
    {%- endif %}

    {%- if msg.failed_query_results|length > 0 %}
    {# new line #}
    <header>FAILED QUERIES</header>
    {%- for query in msg.failed_query_results %}
      - <fail><bold>{{ query.name }}</bold></fail>
    {%- endfor %}
    {%- endif %}

    {# new line #}
{% endfor %}
{% endblock %}
