╔═══════════════════════════╗
║ <header>{{ "{:^25}".format("Results") }}</header> ║
╚═══════════════════════════╝

          <header>OVERVIEW</header>
----------------------------
<key>Subject: </key><bold>{{ subject }}</bold>
<key>Sender:</key> <bold>{{ sender_display_name }} <{{ sender_email_address }}></bold>
<key>Mailbox:</key> <bold>{{ mailbox_email_address }}</bold>
<key>Spam folder:</key> <dim>{{ spam_folder }}</dim>
{%- if verbose %}
<key>MDM ID: </key><dim>{{ id }}</dim>
<key>Created: </key><dim>{{ created_at }}</dim>
{%- endif %}

{{ "" }}
      <header>ENRICHMENT RESULTS</header>
----------------------------
<bold>{{ total_successful_enrichments }} / {{ total_enrichments }}</bold> enrichments <success>succeeded</success>.
{%- for detail in enrichment_details %}
{%- if detail.success %}
{%- if verbose %}
<enrichment>{{ detail.name }}</enrichment> enrichment for <bold>{{ detail.target }}</bold> <success>succeeded.</success>
{%- endif %}
{%- else %}
<bold>{{ detail.name }}</bold> enrichment for <bold>{{ detail.target }}</bold> <fail>failed.</fail> Reason: <bold>{{ detail.error }}</bold>
{%- endif %}
{%- endfor %}

{{ "" }}
  <header>FLAGGED DETECTION RESULTS</header>
----------------------------
{% for result in detection_results -%}
<bold>RESULT {{ loop.index }}</bold>
{%- if result.detection.name %}
<key>Name: </key><light-yellow>{{ result.detection.name }}</light-yellow>
{%- endif %}
<key>Detection ID: </key><dim>{{ result.detection.id }}</dim>
{%- if verbose %}
<key>Created: </key><dim>{{ result.detection.created_at }}</dim>
<key>Detection:</key> <bold>{{ result.detection.detection }}</bold>
{%- endif %}
{{ "" }}
{% endfor %}
